#selector{
    padding:16px 48px;
    border:3px solid red;
    border-radius:48px;
    text-transform:uppercase;
    letter-spacing:2px;
    font-weight:bold;
    color:blue;
}

#selector:hover{
    transform:scale(1.04);
}

#selector:active{
    background-color:red;
}
