<div class="container bg-dark text-white mt-5 py-2 w-50" style="background-color:white">
  <div class="row">
    <div class="col-md-12">
      <form #postForm="ngForm" >
        <div class="form-group" >
          <label for="title">Title</label>
          <input type="text"
                 class="form-control"
                 id="title"
                 required
                 ngModel
                 name="title"
                 style="font-size:12px;"/>
        </div>
        <div class="form-group">
           <input type="file" class="form-control-file"
           id="content"
          required
          ngModel
          name="content">
         <!-- <input type="file" class="custom-file-input" id="inputGroupFile">
                    <label class="custom-file-label" for="inputGroupFile" aria-describedby="inputGroupFileAddon">Choose image</label>-->
        </div>
        <div class="custom-file">
          <input type="file" name="" id="file" hidden  (change)="onFileSelected($event)"/>
          <label for="file" id="selector"> Wybierz plik</label>
        </div>

        <button class="btn btn-success "
                type="submit"
                [disabled]="postForm.valid"
               (click)="upload()" >
          Dodaj post
        </button>
      </form>
    </div>
  </div>
</div>
