.pagination /deep/ .ngx-pagination .current {
  background: #ff0000;
}

.pagination /deep/ .ngx-pagination {
  color: silver;
  background: #1f1f1f;
  font: 24px small-caps 'Agency FB';
  width: 25rem;
  margin-bottom: 3rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  padding-left: 0;
  text-align: center;
  margin-bottom: 20px;
}

  .pagination /deep/ .ngx-pagination a:hover {
    background-color: #7c1616;
  }

  .pagination /deep/ .ngx-pagination a,
  .ngx-pagination button {
    display: block;
    padding: 0.3rem 0.7rem;
    border-radius: 8px;
  }

  .pagination /deep/ .ngx-pagination .current {
    padding: 0.3rem 0.7rem;
    color: #fefefe;
    cursor: default;
    border-radius: 8px;
  }

  .pagination /deep/ .ngx-pagination .pagination-next a::after,
  .pagination /deep/ .ngx-pagination .pagination-next.disabled::after {
    content: '>>';
    display: inline-block;
    margin-left: 0.1rem;
  }

  .pagination /deep/ .ngx-pagination .pagination-previous a::before,
  .pagination /deep/ .ngx-pagination .pagination-previous.disabled::before {
    content: '<<';
    display: inline-block;
    margin-right: 0.1rem;
  }

@media screen and (max-width: 992px) {
  #longStories {
    width: 37rem !important;
  }



  .pagination {
    padding-left: 8rem;
  }
}

@media screen and (max-width: 767px) {
  #longStories {
    width: 26rem !important;
  }



  .pagination {
    padding-left: 5rem;
  }
}

@media screen and (max-width: 576px) {

  #longStories {
    width: 30rem !important;
  }
  .pagination {
    padding-left: 0;
  }
}

