  <div class="container-sm pr-5">
    <table class="table text-center table-dark "  style="background-color: #1f1f1f; color:silver; ">
      <tbody>
        <tr>
          <th>Codzienny suchar:</th>
        </tr>
        <tr>
          <td>Nie wszyscy w tym roku poczują zapach mandarynek...</td>
        </tr>
        <tr>
          <td>Większość Polaków uważa, że większość Polaków to idioci.</td>
        </tr>
        <tr>
          <td>No tak, z emeryturą przerąbane. Teraz najważniejsze, żeby to z rajem nie okazało się bujdą.</td>
        </tr>
        <tr>
          <td>Rosjanie opisali idealny weekend. Różni się od zwykłego tylko tym, że trwa 365 dni w roku.</td>
        </tr>
        <tr>
          <td>
            Sprzedam respirator, używany jak nowy.
            Niemiec charczał jak oddawał.
          </td>
        </tr>
        <tr>
          <td>
            Podobno nie można jeść przynajmniej 2 godziny przed zaśnięciem.
            Nie śpię od tygodnia.
          </td>
        </tr>
        <tr>
          <td>Po piątym dzwonku budzika włosy nie są już takie brudne.</td>
        </tr>
        <tr>
          <td>
            Statytytyscznie rzecz biorąc 86% ludzi nie zauważyło błędu.
          </td>
        </tr>
        <tr>
          <td>
             Czym się bawią dzieci z Płocka?
            Klockami z Warszawy.
          </td>
        </tr>

      </tbody>
    </table>
  </div>

