.pagination /deep/ .ngx-pagination .current {
  background: #ff0000;
}
.pagination /deep/ .ngx-pagination {
  color: silver;
  background: #1f1f1f;
  font: 24px small-caps 'Agency FB';
  width: 25rem;
  margin-bottom: 3rem;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  padding-left: 0;
  text-align: center;
  margin-bottom: 20px;
}
.pagination /deep/ .ngx-pagination a:hover {
  background-color: #7c1616;
}

.pagination /deep/ .ngx-pagination a,
.ngx-pagination button {
  display: block;
  padding: 0.3rem 0.7rem;
  border-radius: 8px;
}
.pagination /deep/ .ngx-pagination .current {
  padding: 0.3rem 0.7rem;
  color: #fefefe;
  cursor: default;
  border-radius: 8px;
}
.pagination /deep/ .ngx-pagination .pagination-next a::after,
.pagination /deep/ .ngx-pagination .pagination-next.disabled::after {
  content: '>>';
  display: inline-block;
  margin-left: 0.1rem;
}

.pagination /deep/ .ngx-pagination .pagination-previous a::before,
.pagination /deep/ .ngx-pagination .pagination-previous.disabled::before {
  content: '<<';
  display: inline-block;
  margin-right: 0.1rem;
}

#Post {
  background-color: #1f1f1f;
  color: silver;
  width: 37rem;
  margin: auto;
}

#spacePost {
  background-color: #2e2e2e;
  height: 5rem;
  width:37rem;
}

@media screen and (max-width: 992px) {
  #Post {
    width: 37rem !important;
  }
  #spacePost {
    width: 37rem !important;
  }
  .pagination {
    padding-left: 8rem;
  }
}

@media screen and (max-width: 767px) {
  #Post {
    width: 26rem !important;
  }

  #spacePost {
    width: 26rem !important;
  }
  .pagination {
    padding-left: 5rem;
  }
}

@media screen and (max-width: 576px) {

  #Post {
    width: auto !important;
  }

  #spacePost {
    width: auto !important;
  }
  .pagination {
    padding-left: 0;
  }
  #postImage{
      width:auto !important;
      height:auto !important;

  }
}
