<div
  class="row mt-5"
  style="background-color: #1f1f1f; color: silver; width: 31rem; margin: auto"
  *ngIf="imageList"
  id="Post"
>
  <div *ngFor="let i of posts | paginate: {itemsPerPage: 5, currentPage: p}">
    <div class="col-sm mb-3" id="title">{{ imageList[i].caption }}</div>
    <div class="col-sm"
         style="display: flex; flex-direction: column; align-items: center">
      <img [src]="imageList[i].imageUrl"
           class="img-fluid pb-5"
           style="width: 32rem; height: 25rem" />
    </div>

    <div class="col-sm" style="background-color: #2e2e2e; height: 5rem" id="spacePost"></div>
  </div>
</div>

<div
  style="display: flex; flex-direction: column; align-items: center"
  *ngIf="imageList && imageList.length > 0"
>
  <pagination-controls
    class="pagination"
    (pageChange)="p = $event"
    previousLabel=""
    nextLabel=""
    maxSize="5"
  ></pagination-controls>
</div>
