.container {
  margin-left: 20%;
  margin-right: 20%;
}

#logo {
  color: #7c1616;
  transition: color 1.5s;
  font-weight: bolder;
  font-variant: small-caps;
  font-size: 36px;
  font-family: 'Agency FB';
}

#logo:hover {
  color: #ff0000;
}
#title {
  color: #7c1616;
  transition: color 1.5s;
  font-variant: small-caps;
  font-size: 34px;
  font-family: 'Agency FB';
}
#title:hover {
  color: #ff0000;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 767px) {

  #logo {
    font-size: 30px;
  }
  #title {
    font-size: 28px;
  }
  #sidebar{
      display:none !important;
  }
}
@media screen and (max-width: 576px) {

  #mainContainer {
    margin-left:0 !important;
    margin-right:0 !important;
    padding-right:0 !important;
    padding-left:0 !important;
  }
  #contentsContainer{
      margin-left:0 !important;
      margin-right:0 !important;
          
  }
  #posts {
      padding-left:0 !important;
      padding-right:0 !important;
      max-width: initial !important;
      margin:auto !important;
  }
}
